  <a href="https://www.instagram.com/chilinutcrunch/" target="_blank" class="header__icon header__icon--cart link focus-inset">
        <img src="https://cdn.shopify.com/s/files/1/0696/5421/6946/files/instagram-small.png?v=1718847430" width="20" height="20" class="ig-icon"/>
      </a>
