.contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .password-grid-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80vh;
  }
  
  .password-input-full {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    height: 51px;
    padding: 0px 16px;
    border-radius: 4px;
    border: none;
  }
  
  .thank-you-message {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    text-align: center;
    color: #83e383;
  }
  
  .password-input-button {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    background-color: white;
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    height: 51px;
    border-radius: 4px;
    border: none;
    color: #da2926;
  }
  
  .password-left-control {
    display: flex;
    height: 90vh;
  }
  .password-margin-top-36 {
    margin-top: 36px;
  }
  
  .password-right-text-control {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
  }
  
  .password-header-text {
    font-size: 22px;
    color: white;
    font-weight: bold;
    font-family: inherit;
    text-align: center;
  }
  .password-desc-footer-text {
    font-size: 14px;
    color: white;
    margin-top: 24px;
    font-weight: normal;
    font-family: inherit;
    text-align: center;
  }
  .password-desc-text {
    font-size: 18px;
    color: white;
    font-weight: normal;
    font-family: inherit;
    text-align: center;
  }
  .password-right-control {
    display: flex;
    height: 90vh;
    flex-direction: column;
    background-color: #da2926;
    padding: 24px;
  }
  .password-item-right-control {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
  }
  .password-left-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .password-left-img-mobile {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
  }
  /* Styles for tablet devices */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .contact-form {
    }
  
    .password-grid-control {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .password-input-full {
    }
  
    .thank-you-message {
    }
  
    .password-input-button {
    }
  
    .password-left-control {
      height: auto;
      display: none;
    }
    .password-margin-top-36 {
    }
  
    .password-header-text {
    }
    .password-desc-footer-text {
    }
    .password-desc-text {
    }
    .password-right-control {
    }
    .password-item-right-control {
    }
    .password-left-img {
    }
  }
  
  /* Styles for tablet devices */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .contact-form {
    }
  
    .password-grid-control {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .password-input-full {
    }
  
    .thank-you-message {
    }
  
    .password-input-button {
    }
  
    .password-left-control {
    }
    .password-margin-top-36 {
    }
  
    .password-header-text {
    }
    .password-desc-footer-text {
    }
    .password-desc-text {
    }
    .password-right-control {
    }
    .password-item-right-control {
    }
    .password-left-img {
    }
  }
  
  /* Styles for mobile devices */
  @media (max-width: 767px) {
    .contact-form {
    }
  
    .password-grid-control {
      grid-template-columns: 100%;
      height: auto;
    }
  
    .password-input-full {
    }
  
    .thank-you-message {
    }
  
    .password-input-button {
      font-size: 14px;
    }
  
    .password-left-control {
      height: auto;
    }
    .password-margin-top-36 {
    }
  
    .password-header-text {
    }
    .password-desc-footer-text {
    }
    .password-desc-text {
      font-size: 16px;
    }
    .password-desc-text-naming {
      font-size: 24px;
    }
    .password-right-control {
      height: auto;
      padding: 36px 4px;
    }
    .password-item-right-control {
    }
    .password-left-img {
      height: auto;
      display: none;
    }
    .password-left-img-mobile {
      height: auto;
      display: flex;
    }
  
    .br-mobile {
      display: flex;
    }
  }
  